{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wacky Widgets</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" 
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Wacky Widgets</h1>
    {% if widgets %}
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for widget in widgets %}
                <tr>
                    <td>{{ widget.description }}</td>
                    <td>{{ widget.quantity }}</td>
                    <td><a href="{% url 'delete' widget.id %}">X</a></td>
                </tr>
            {% endfor %}
                <tr>
                    <td><b>Total Quantity</b></td>
                    <td><b>{{ total }}</b></td>
                    <td></td>
                </tr>
        </table>
    {% else %}
        <h3>No Widgets Exist</h3>
    {% endif %}
    <hr>
    <h4>Add Widget</h4>
    <form class="pure-form" method="POST" action="{% url 'create'%}">
        {% csrf_token %}

        <label for="description">Description:</label>
        <input type="text" name="description">
        <br><br>

        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity">
        <br><br>
        
        <button class="pure-button" type="submit">ADD WIDGET</button>
    </form>
</body>
</html>